* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#buttons {
    background: #efefef;
    min-height: 100vh;
}

section#buttons .inner-container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.button-card {
    border: 1px solid #dedede;
    background: white;
    color: black;
    padding: 30px;
    width: 300px;
    margin: calc(100px / 6) 0;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
}

.btn:hover {
    cursor: pointer;
}

/* Button 001 */
#btn-001 {
    border: 1px solid black;
    background: white;
    color: black;
}

#btn-001:hover {
    background: black;
    color: white;
}

/* Button 002 */
#btn-002 {
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 10px;
}

#btn-002:hover {
    background: black;
    color: white;
}

/* Button 003 */
#btn-003 {
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 25px;
}

#btn-003:hover {
    background: black;
    color: white;
}

/* Button 004 */
#btn-004 {
    border: 1px solid black;
    background: black;
    color: white;
}

#btn-004:hover {
    background: white;
    color: black;
}

/* Button 005 */
#btn-005 {
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 10px;
}

#btn-005:hover {
    background: white;
    color: black;
}

/* Button 006 */
#btn-006 {
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 25px;
}

#btn-006:hover {
    background: white;
    color: black;
}